{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "src": "./src",
          "common": "./src/common",
          "models": "./src/models"
        }
      }
    ]
  ]
}
